name: Builder

on:
  push:
    branches: [ main ]
    paths-ignore:
    - ".gitignore"
    - ".gitattributes"
    - "LICENSE"
    - "README.md"
  pull_request:
    branches: [ main ]
    paths-ignore:
    - ".gitignore"
    - ".gitattributes"
    - "LICENSE"
    - "README.md"
    
jobs:
  build:
    strategy:
      matrix:
        os: [ "windows-latest", "ubuntu-latest", "macos-latest" ]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x

    - name: Build
      run: dotnet build --configuration Release -o build

    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: KeyOverlay-${{ matrix.os }}
        path: build
